html {
  font-family: Arial, Helvetica, sans-serif;
  background: url("img/20534505.jpg"), no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding: 50px;
  width: 600px;
  margin: auto auto auto auto;
  font-weight: bold;
  font-size: 20px;
  font-family: helvetica;
  color: black;
}

div {
  text-align: center;
}

button {
  width: 600px;
  padding: 20px;
  border: 2px solid;
  font-family: helvetica;
  font-weight: bold;
  font-size: 30px;
  border-radius: 107px;
}

h1 {
  text-align: center;
  font-size: 100px;
}

#quoteDisplay {
  padding: 10px;
}